snippet guard script reload guard
	if exists('${1:did_`vim_snippets#Filename()`}') || &cp${2: || version < 700}
		finish
	endif
	let $1 = 1${0}
snippet fun function
	fun! ${1:`expand('%') =~ 'autoload' ? substitute(matchstr(expand('%:p'),'autoload/\zs.*\ze.vim'),'[/\\]','#','g').'#' : ''`}${2:function_name}(${3})
		${0}
	endf
snippet try try ... catch statement
	try
		${1}
	catch ${2}
		${0}
	endtry
snippet for for ... in loop
	for ${1} in ${2}
		${0}
	endfor
snippet foe for [key, value] in loop
	for [${1}, ${2}] in items(${3})
		${0}
		unl! $1 $2
	endfor
snippet wh while loop
	while ${1}
		${0}
	endw
snippet if if statement
	if ${1}
		${0}
	endif
snippet else else statement
	else
		${1}
snippet ife if ... else statement
	if ${1}
		${2}
	else
		${0}
	endif
